// base

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  display: none;
}

#overlay.show {
  display: block;
}

// projects
.popup {
  position: fixed;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.popup__container {
  display: flex;
  flex-direction: column;
  padding: 50px;
  max-width: 500px;
  z-index: 1;
  background-color: #82b1bb;
  border-radius: 10px;

  h2 {
    color: $white;
    font-family: $font-accent;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }

  @include mediaTablet {
    padding: 30px;
    font-size: 15px;
  }
}

.popup__text {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
  color: $white;

  @include mediaTablet {
    font-size: 12px;
  }
}

.popup__button {
  width: 100%;
  height: 80px;
  color: #fff;
  font-family: $font-accent;
  line-height: 1.5;
  font-size: 20px;
  background-color: $main-dark;
  text-align: center;
  transition: background-color 0.2s ease-in;

  &:hover {
    background-color: saturate(#82b1bb, 20%);
  }

  @include mediaTablet {
    height: 40px;
    font-size: 10px;
  }
}
