.projects {
  padding-top: 103px;
  background: url('./../img/background/background-img.jpg');

  @include mediaTablet {
    padding-top: 50px;
  }
}

.projects__title {
  padding-left: 96px;
  margin-bottom: 119px;
  color: #141518;
  font-family: $font-accent;
  font-size: 48px;
  font-weight: 800;
  @include mediaTablet {
    padding-left: 0px;
    font-size: 19.36px;
    margin-bottom: 59px;

    display: flex;
    justify-content: center;
  }
}

.home-icon {
  margin: 0 20px;
  @include mediaTablet {
    margin: 0 9px;
    width: 67px;
    height: 40px;
  }
}
