// Fonts

$font-main: 'Mont';
$font-accent: 'RF Dewi Expanded';
$font-logo: 'Racing Sans One', sans-serif;

// Colors

$main-dark: #11171a;
$dark: #11171a;
$dark-background: #11171a;
$logo-dark: #222222;
$white: #fff;

// Media

$tablet: 970px;
$mobile: 400px;
